{% extends "image/base.html" %}

{% block title %}Result{% endblock %}

{% block content %}
<center><h1>Result</h1></center>
<ul>
    <div style="display: flex; flex-direction: row; justify-content: space-around; margin-top: 50px;">
        <div style="width: 500px; height: 1000px; overflow: hidden;">
            <center><h2>Origin</h2></center>
            <center><img src="{{ input_image_url }}" alt="Input Image" width="300px" height="auto"></center>
        </div>
        <div style="width: 500px; height: 1000px; overflow: hidden;">
            <center><h2>Result</h2></center>
            <center><img src="{{ output_image_url }}" alt="Output Image" width="300px" height="auto"></center>
            <div>
                <a href="{{ output_image_url }}" download>
                    <br/>
                    <center><input type="submit" value="Download Result" /></center>
                </a>
            </div>
        </div>
    </div>
</ul>

{% endblock %}